h1,
h2,
h3 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h1,
h2 {
  letter-spacing: 2.5px;
  line-height: 2.5px;
}
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
  line-height: 1.5px;
}
h3 {
  font-size: 24px !important;
}
@media only screen and (max-width: 900px) {
  h1,
  h2 {
    line-height: 25px;
  }
  h3,
  h4,
  h5,
  h6 {
    line-height: 20px;
  }
}
